.cont {
    height: 100%;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: white;
    font-size: 1rem;
    overflow: visible;
}

.main {
    width: 95%;
}

.title {
    font-size: 5.5vw;
    font-weight: 300;
}

.subtitle {
    font-size: 5vw;
    font-weight: 300;
}

.text {
    font-size: 3.5vw;
}

.inputs {
    font-size: 3.2vw;
}

.list {
    background-color: transparent;
}

/* LG Screen */
@media (min-width: 1121px) {   
    .main {
        width: 60%;
    }
    .cont {
        font-size: 1.5rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .main {
        width: 80%;
    }
    .cont {
        font-size: 1.2rem;
    }
    
}