.cont {
    height: 100%;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: white;
    
}

.main {
    width: 95%;
}

.title {
    font-size: 1.4rem;
    font-weight: 300;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: 200;
}

.text {
    font-size: 1.1rem;
}

.inputs {
    font-size: 1rem;
}

.list {
    background-color: transparent;
}

.botonIcon {
    width: 10vw;
    height: auto;
}

.fontico {
    cursor: pointer; 
}

.autoresizing {
    display: block;
    overflow: hidden;
    resize: none;
}

/* LG Screen */
@media (min-width: 1121px) {   
    .main {
        width: 70%;
    }
    
    .title {
        font-size: 2.2rem;
    }
    
    .subtitle {
        font-size: 2rem;
    }
    
    .text {
        font-size: 1.8rem;
    }
    
    .inputs {
        font-size: 1.5rem;
    }
    
    .botonIcon {
        width: 5rem;
        height: auto;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .main {
        width: 80%;
    }
    
    .title {
        font-size: 2rem;
    }
    
    .subtitle {
        font-size: 1.8rem;
    }
    
    .text {
        font-size: 1.6rem;
    }
    
    .inputs {
        font-size: 1.2rem;
    }
    
    .botonIcon {
        width: 6vw;
        height: auto;
    }
    
}