.cont {
    height: 100vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgb(169,169,233);
    background: linear-gradient(90deg, rgba(169,169,233,1) 14%, rgba(14,19,241,0.8085434857536764) 80%);
}

.main {
    width: 85vw;
}

.login {
    cursor: pointer;
    font-size: 4.5vw;
}

.logo {
    width: 50vw;
    height: auto;
}

.title {
    font-size: 5.5vw;
    font-weight: 300;
}

.subtitle {
    font-size: 5vw;
    font-weight: 300;
}

.ingreso {
    font-weight: 700;
}

.text {
    font-size: 3.5vw;
}

.caja {
    border-style: solid;
    border-radius: 4vw;
    border-width: .5vw;
    background: rgba(255, 255, 255, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.error {
    color: red;
    font-weight: 100;
}

.input {

}

/* LG Screen */
@media (min-width: 1121px) {   
    .main {
        width: 50vw;
    }
    
    .login {
        font-size: 2vw;
    }
    
    .logo {
        width: 10vw;
        height: auto;
    }
    
    .title {
        font-size: 2vw;
    }
    
    .subtitle {
        font-size: 1.5vw;
    }
    
    .ingreso {
        font-weight: 700;
    }
    
    .text {
        font-size: 1.5vw;
    }
    
    .caja {
        
        width: 60%;
        border-radius: 3vw;
    }
    
    .error {
        font-weight: 100;
    }

    .input {
        font-size: 1vw;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    
    .main {
        width: 70vw;
    }
    
    .login {
        font-size: 2.5vw;
    }
    
    .logo {
        width: 20vw;
        height: auto;
    }
    
    .title {
        font-size: 2.5vw;
    }
    
    .subtitle {
        font-size: 1.8vw;
    }
    
    .ingreso {
        font-weight: 700;
    }
    
    .text {
        font-size: 1.5vw;
    }
    
    .caja {
        
        width: 60%;
        border-radius: 3vw;
    }
    
    .error {
        font-weight: 100;
    }

    .input {
        font-size: 1.2vw;
    }
}