.logo {
    width: 32vw;
    height: auto;
}

/* LG Screen */
@media (min-width: 1121px) {   
    .logo {
        width: 12vw;
        height: auto;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .logo {
        width: 20vw;
        height: auto;
    }
}