.cont {
    height: 100%;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: white;
}

.main {
    width: 80vw;
}

.title {
    font-size: 5.5vw;
    font-weight: 300;
}

.subtitle {
    font-size: 3.8vw;
    font-weight: 300;
}

.text {
    font-size: 3.5vw;
}

.select {
    width: 80%  ;
}

.tables {
    border-style: solid;
}

/* LG Screen */
@media (min-width: 1121px) {   
    .main {
        width: 80vw;
    }
    
    .title {
        margin-top: 1.5rem;
        font-size: 3vw;
        font-weight: 300;
    }
    
    .subtitle {
        font-size: 3.2vw;
        font-weight: 300;
    }
    
    .text {
        font-size: 3vw;
    }
    
    .select {
        justify-content: center;
        width: 40%  ;
    }

    .box {
        width: 60%;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .main {
        width: 80vw;
    }
    
    .title {
        font-size: 4vw;
        font-weight: 300;
    }
    
    .subtitle {
        font-size: 3.2vw;
        font-weight: 300;
    }
    
    .text {
        font-size: 3vw;
    }
    
    .select {
        width: 80%  ;
    }

    .box {
        width: 60%;
    }
    
}