.cont {
    height: 100%;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: white;
}

.colorTitle {
    color: rgb(10, 10, 126);
}

.colorText {
    color: black;
}


.title {
    font-size: 8vw;
    font-weight: 300;
}

.subtitle {
    font-size: 4.2vw;
    font-weight: 800;
}

.text {
    font-size: 3.5vw;
}

.inputs {
    font-size: 3.2vw;
}

.list {
    background-color: transparent;
}

.botonIcon {
    width: 10vw;
    height: auto;
}

.card {
    max-width: 50rem;
}

.logo {
    width: 50vw;
    height: auto;
}

.tables {
    border-style:solid;
    border-color: blue;
}

/* LG Screen */
@media (min-width: 1121px) {   

    .logo {
        width: 25vw;
        height: auto;
    }

    .title {
        font-size: 2vw;
        font-weight: 300;
    }
    
    .subtitle {
        font-size: 1.2vw;
        font-weight: 800;
    }
    
    .text {
        font-size: 1vw;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

    .logo {
        width: 30vw;
        height: auto;
    }

    .title {
        font-size: 2.8vw;
        font-weight: 300;
    }
    
    .subtitle {
        font-size: 2.2vw;
        font-weight: 800;
    }
    
    .text {
        font-size: 1.8vw;
    }
    
}